<div class="custom-padding">
  <h2 id="headertxt" style="color: white">Solar Planet Routes</h2>
  <div class="card-columns">
    <div class="row card bg-light" *ngFor="let route of solarRouteList">
      <div class="col-md-4 card-body text-center">
        <img
          src="../../assets/images/galaxy.jpg"
          class="rounded"
          alt="Cinque Terre"
          width="356"
          height="236"
        />
      </div>
      <div class="col-md-8">
        <p class="card-text font-style">Route Id : {{ route.routeId }}</p>
        <p class="planet-origin-card card-text font-style">
          Planet Origin : {{ route.solarRouteOrigin }}
        </p>
        <p class="planet-destination-card card-text font-style">
          Planet Destination : {{ route.solarRouteDestination }}
        </p>
        <p class="card-text font-style">
          Distance(Light Years) : {{ route.solarRouteDistance }}
        </p>
      </div>
    </div>
  </div>
</div>
