<div class="row">
  <div class="col-md-4">
    <label id="sourcelbl" for="planet">Source Planet: </label>
    <select
      #fromPlanetDropdown
      (change)="onPlanetChanged()"
      class="form-control1 form-control"
      id="planet"
      name="planet"
    >
      <option
        class="source-menu-item"
        *ngFor="let planet of planets"
        [value]="planet.planetNode"
      >
        {{ planet.planetName }} ({{ planet.planetNode }})
      </option>
    </select>
  </div>

  <div class="col-md-4">
    <label id="destinationlbl" for="planet">Destination Planet: </label>
    <select
      #toPlanetDropdown
      (change)="onPlanetChanged()"
      class="form-control1 form-control"
      id="planet"
      name="planet"
    >
      <option
        class="destination-menu-item"
        *ngFor="let planet of planets"
        [value]="planet.planetNode"
      >
        {{ planet.planetName }} ({{ planet.planetNode }})
      </option>
    </select>
  </div>

  <div class="col-md-4">
    <label id="solarpathlbl">Solar Galaxy Path </label>
    <span
      ><P class="path-style">{{ galaxyPath }} </P></span
    >
  </div>
</div>

<div class="row padding-style">
  <div class="col-md-4">
    <button class="btn btn-info" (click)="LoadSolarGalaxy()">
      Load Solar Galaxy
      <i
        *ngIf="isloadGalaxy"
        class="fa fa-spinner fa-spin"
        style="font-size:24px"
      ></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ngx-graph
      [view]="[1800, 1000]"
      layout="dagreCluster"
      [links]="links"
      [nodes]="nodes"
      [legend]="false"
      [draggingEnabled]="false"
      [clusters]="cluster"
      [animate]="true"
    >
      <ng-template #nodeTemplate let-node>
        <svg:g class="node" ngx-tooltip>
          <svg:text
            alignment-baseline="central"
            [attr.x]="10"
            [attr.y]="node.height / 2"
          >
            {{ node.label }}
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>
</div>
