<div class="row">
  <div class="col-md-4">
    <label for="planet">Source Planet: </label>
    <select
      #fromPlanetDropdown
      (change)="onPlanetChanged()"
      class="form-control1 form-control"
      id="planet"
      name="planet"
    >
      <option *ngFor="let planet of planets" [value]="planet.planetNode">
        {{ planet.planetName }} ({{ planet.planetNode }})
      </option>
    </select>
  </div>

  <div class="col-md-4">
    <label for="planet">Destination Planet: </label>
    <select
      #toPlanetDropdown
      (change)="onPlanetChanged()"
      class="form-control1 form-control"
      id="planet"
      name="planet"
    >
      <option *ngFor="let planet of planets" [value]="planet.planetNode">
        {{ planet.planetName }} ({{ planet.planetNode }})
      </option>
    </select>
  </div>

  <div class="col-md-4">
    <label>Solar Galaxy Path </label>
    <span
      ><P class="path-style">{{ galaxyPath }} </P></span
    >
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ngx-graph
      [view]="[1800, 1000]"
      layout="dagreCluster"
      [links]="links"
      [nodes]="nodes"
      [legend]="false"
      [draggingEnabled]="false"
    >
      <ng-template #nodeTemplate let-node>
        <svg:g
          class="node"
          ngx-tooltip
          [tooltipPlacement]="'top'"
          [tooltipType]="'tooltip'"
        >
          <!-- <svg:ngx-charts-bar-vertical-stacked /> -->
          <!-- <svg:rect [attr.width]="node.width" [attr.height]="node.height" /> -->
          <svg:text
            alignment-baseline="central"
            [attr.x]="10"
            [attr.y]="node.height / 2"
          >
            {{ node.label }}
          </svg:text>
        </svg:g>
      </ng-template>

      <!-- <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path stroke-width="2" marker-end="url(#arrow)"></svg:path>
        </svg:g>
      </ng-template> -->
    </ngx-graph>
  </div>
</div>

<!-- <svg:ngx-charts-bar-vertical-stacked -->

<!-- <ngx-graph
  class="chart-container"
  [view]="[500, 200]"
  [links]="[
    {
      id: 'a',
      source: 'first',
      target: 'second',
      label: 'is parent of'
    },
    {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    },
    {
      id: 'b',
      source: 'second',
      target: 'third',
      label: 'custom label'
    }
  ]"
  [nodes]="[
    {
      id: 'first',
      label: 'A'
    },
    {
      id: 'second',
      label: 'B'
    },
    {
      id: 'third',
      label: 'C'
    }
  ]"
>
</ngx-graph> -->
