<div class="custom-padding">
  <h2 id="headertxt" style="color: white">Solar Planets</h2>
  <div class="card-columns">
    <div class="row card bg-light" *ngFor="let planet of planetList">
      <div class="col-md-4 card-body text-center">
        <img
          src="../../assets/images/galaxy.jpg"
          class="rounded"
          alt="Cinque Terre"
          width="356"
          height="236"
        />
      </div>
      <div class="col-md-8">
        <p class="card-text font-style">
          Planet Name : {{ planet.planetName }}
        </p>
        <p class="card-text font-style">
          Planet Node : {{ planet.planetNode }}
        </p>
      </div>
    </div>
  </div>
</div>
